<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <title>Characters</title>
</head>

<body>
    <div class="container d-flex justify-content-center">
        <div class="col-3 text-center">
            <form action="{% url 'addCharacter' %}" method="post">
                <br> Name
                <input type="text" class="form-control" name="name">

                <br> Age
                <input type="text" class="form-control" name="age" id="age">
                
                <br> Race
                <div class="form-group">
                    <select class="form-control" name="race" id="race">
                        {% for race in races_list %}
                        <option value="{{race.id}}">{{race.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <br> Sex
                <div class="form-group">
                        <select class="form-control" name="sex" id="sex">
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                </div>

                <br> Strength
                <input type="text" class="form-control" name="strength" id="strength">

                <br> Dexterity
                <input type="text" class="form-control" name="dexterity" id="dexterity">

                <br> Intelligence
                <input type="text" class="form-control" name="intelligence" id="intelligence">
                
                <br> Wisdom
                <input type="text" class="form-control" name="wisdom" id="wisdom">
                
                <br> Luck
                <input type="text" class="form-control" name="luck" id="luck">
                
                <br> Charisma
                <input type="text" class="form-control" name="charisma" id="charisma">
                
                <br> Quote
                <textarea type="text" class="form-control" rows="2" name="quote" id="quote"></textarea>

                <br> Story
                <textarea type="text" class="form-control" rows="3" name="story" id="story"></textarea>
                <br>
                <input class="btn btn-secondary" type="submit" value="+">
            </form>
        </div>
    </div>
</body>
<html>