<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'catalog/style.css' %}">
        <title>Manage skills</title>
    </head>
    <body>
        <div class="container">
             <div class="col-md-4" style="float: left;" id="skills-available-container">
                {% for skill in available_skills %}
                <div id="{{skill.id}}" class="skill-row-available">
                    <p>{{skill.name}}</p>
                </div>
                {%endfor%}
            </div>
            <div class="col-md-4" style="float: left; text-align:center;"> 
                
                <button class="btn btn-primary" id="left-to-right-button"> > </button> 
                <br/>
                <br/>
                <button class="btn btn-primary" id="right-to-left-button"> < </button>
                <br><br><br>
                <form action="{% url 'assign-skills' %}" method="post" id="assign-form">
                    <input type="hidden" value="{{character_id}}" name="character_id" id="character_id">
                    <input type="submit" value="OK">
                </form>

                <a href="{% url 'add-skill' %} ">
                    <div class="add-redirect">
                        +
                    </div>
                </a>
            </div>
            <div class="col-md-4" style="float: left;" id="skills-assigned-container">
                {% for skill in character_skills %}
                <div id="{{skill.id}}" class="skill-row-assigned">
                    <p>{{skill.name}}</p>
                </div>
                {%endfor%}
            </div>
        </div>
    </body>

    <script type="text/javascript">
        $(document).ready(function()
        {
            $('.skill-row-available').click(function()
            {
                $(this).toggleClass("clicked");
            });
            $('.skill-row-assigned').click(function()
            {
                $(this).toggleClass("clicked");
            });

            $("#left-to-right-button").click(function()
            {
                var toAdd = $(".skill-row-available.clicked");
                console.log('To add: ' + toAdd);
                var skillsAssigned = $("#skills-assigned-container");
                console.log(skillsAssigned);

                toAdd.removeClass("skill-row-available").addClass("skill-row-assigned").removeClass("clicked");
                skillsAssigned.append(toAdd);
            });

            $("#right-to-left-button").click(function()
            {
                var toAdd = $(".skill-row-assigned.clicked");
                console.log('To add: ' + toAdd);
                var skillsAvailable = $("#skills-available-container");
                console.log(skillsAvailable);

                toAdd.removeClass("skill-row-assigned").addClass("skill-row-available").removeClass("clicked");
                skillsAvailable.append(toAdd);
            });
            $("#assign-form").on("submit", function()
            {
                var idsTable = [];
                $('.skill-row-assigned').each(function()
                {
                    var $this = $(this);
                    idsTable.push($this.attr('id'));
                });
                console.log(idsTable);
                $("<input />").attr("type", "hidden")
                .attr("name", "selected_skills")
                .attr("id", "selected_skills")
                .attr("value", JSON.stringify(idsTable))
                .appendTo("#assign-form");
                return true;
            })

        });
    </script>

<html>